@media only screen and (max-width: 768px){
    .social-network-bar{
        flex-direction: column;
        margin-top: 40px;
        text-align: center;
    }


    .nav-bar .container .list-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }

    .nav-bar .container .list-section li{
        text-align: center;
    }

    .nav-bar .container .list-section li a{
        border-bottom: 0.5px solid #fff;
        border-right: none;
    }

    .section-container .container .row .languages-programming .container-languages {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 30px;
    }

    .section-container .container .row .table-container {
        text-align: center;
        display: flex;
        text-align: center;
        justify-content: center;
        column-gap: 50px;
        row-gap: 50px;
        flex-direction: column ;
    }

    .section-container .container .row .table-container table{
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 30px;
    }

    .section-container .container .row .principal-content-container{
        display: flex;
        flex-direction: column;
    }

    .section-container .container .row .principal-content-container .content-biogr p{
        font-size: 15px;
    }

    .section-container .container .container-extern .form-container .row-form{ 
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

