@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


:root{
    --twitter: #55acee;
    --linkedin: #0077b5;
    --github: #161414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:coral;
    color: #ffffff;
    font-size:20px;
    font-family: 'Mono Space' monospace;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    width: 200px;
}

.nav-main ul {
    display:flex;

}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 5px;
}

.nav-main ul li a:hover{
    background-color: #161833;
    border-bottom: 3px solid #ffffff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 40px;
}

footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    background:#111;
    display: grid;
}

.main-content {
    display: flex;
    background-color: aqua;
    flex-direction: column;
}

.content {
    display: inherit;
    flex-direction: inherit;
}

.social-network ul {
    display: flex;
}
